@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 9 9 11;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: 9 9 11;
    --fg: 250 250 250;
  }
}

html,
body {
  height: 100%;
}

body {
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

